# Eclipse
.metadata/
.configuration/
.settings/
.classpath
.project

# Eclipse workspace
Wrokspace/eclipse/configuration/

# Java compiled files
*.class
bin/
target/

# Logs
*.log

# IDE
.idea/
.vscode/

# Notepad++
Notepad++/